@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
:root{
    --secondary-color: #e2e2e2;
}
.bold{
    font-weight: bold;
}
.top{
    padding-bottom: 1rem;
    margin-top: 1rem;
}
.text{
    padding-bottom: 10px;
    border: none;
}
.logo{
    width: 80px;
}
.light{
    color: var(--secondary-color);
}
.dark{
    color: #000;
}
.dash{
    border-bottom: 1px dashed var(--secondary-color);
}
.total{
    padding-top: 0.5rem;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.qrCode{
    width: 100px;
    align-self: flex-start;
    margin: 1rem;
}
.footer-text{
    align-self: flex-start;
    font-size: 10px;
}
.driver{
    height: 100px;
}
.car{
    width: 100px;
    height: auto;
}
.map{
    height: 230px;
}
.b-0{
border-bottom: 0;
}
.p-1{
    padding: 1rem;
}
.px-1{
    padding-left: 30%;
    padding-right: 30%;
}
.big{
    font-size: 2rem;
    line-height: 2em;
    font-weight: bold;
}
.medium{
    font-size: 1.5rem;
    font-weight: bold;
}
.bg-light{
    background-color: var(--secondary-color);
}
#g-pay{
    border: 1px solid var(--secondary-color);
    width: 40px;
    height: 30px;
    padding: 0.1rem;
    margin: 0 1rem;
    border-radius: 5px;
}
.text-center{
    align-self: center;
}
.container-test{
    border: 12px solid #e2e2e2;
    padding: 0.5rem 2rem;
}
.container-test > table{
    width: 100%;
    border-collapse: collapse;
}
table{
    border-collapse: collapse;
}
tbody{
    padding: 16px;
}
td{
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #e2e2e2;
}
.right{
    text-align: right;
}
.left{
    text-align: left;
}
.center{
    text-align: center;
}
.block > *{
    vertical-align: middle;
}